<% form_for(@comment, :url => url) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :content, '内容' %><br /><br />
    <%= f.text_area :content, :class => "mceEditor" %>
  </p>
  <p>
    <%= f.submit "回帖" %>
    <%= f.submit '预览' %>
    <%= link_to '返回', forum_topic_path(:id => params[:topic_id]) %>
  </p>
<% end %>
