<% form_for(@cover, :url => user_covers_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <b>相册</b><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <b>备注</b><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit "创建" %>
    <%= link_to '返回', user_covers_path %>
  </p>
<% end %>


