<p>
  <%= u.label :from, '来自' %><br />
  <%= u.text_field :from %>
</p>
<p>
  <%= u.label :sex, '性别' %><br />
  <%= u.text_field :sex %>
</p>
<p>
  <%= u.label :profession, '职业' %><br />
  <%= u.text_field :profession %>
</p>
<p>
  <%= u.label :taste, '兴趣' %><br />
  <%= u.text_field :taste %>
</p>
<p>
  <%= u.label :email, '电子邮箱' %><br />
  <%= u.text_field :email %>
</p>
<p>
  <%= u.label :info, '备注' %><br />
  <%= u.text_area :info, :class => "mceEditor" %>
</p>
<p>
  <%= u.label :password, '密码' %><br />
  <%= u.password_field :password %>
</p>
<p>
  <%= u.label :password_confirmation, '密码确认' %><br />
  <%= u.password_field :password_confirmation %>
</p>
